{%  extends 'accounts/main.html' %}

{% block content %}

	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Customer:<a>{{ customer.name }}</a></h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete Customer</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: {{ customer.email }}</p>
			<p>Phone: {{ customer.phone }}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Surveys</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{survey_count}}</h1>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Survey ID</th>
					<th>Date Created</th>
					<th>Overall Score</th>
					<th>Overall Archive</th>
					<th>More</th>
					<th>Remove</th>
				</tr>

				{% for survey in surveys %}
				<tr>
					<td>{{survey.id}}</td>
					<td>{{survey.date_created}}</td>
					<td>{{survey.score}}</td>
					<td>{{survey.archive}}</td>
					<td><a class="btn btn-sm btn-info" href="">More</a></td>
					<td><a class="btn btn-sm btn-danger" href="">Delete</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock content %}
