{%  extends 'accounts/main.html' %}

{% block content %}

{%  include 'accounts/status.html' %}

<br>

<div class="row">
	<div class="col-md-5">
		<h5>CUSTOMERS:</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Customer</th>
					<th>Email</th>
				</tr>

				{% for customer in customers %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="{% url 'customer' customer.id %}">View</a></td>
						<td>{{customer.name}}</td>
						<td>{{customer.email}}</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>Past Survey</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Name</th>
					<th>Date Created</th>
					<th>Overall Score</th>
					<th>Overall Archive</th>
					<th>More</th>
					<th>Remove</th>
				</tr>

				{% for survey in surveys %}
					<tr>
						<td>{{survey.customer.name}}</td>
						<td>{{survey.date_created}}</td>
						<td>{{survey.score}}</td>
						<td>{{survey.archive}}</td>
						<td><a class="btn btn-sm btn-info" href="">More</a></td>
						<td><a class="btn btn-sm btn-danger" href="">Delete</a></td>
					</tr>
				{% endfor %}
		
			</table>
		</div>
	</div>

</div>

{% endblock content %}
